body{
  margyn: 0;
  font-family: sans-serif;
  background:#33B6FF 
}


.from_clientes{
  margin:auto;
  background:#FF8033; 
  border-radius:7px;
  width:60%;
  max-width:500px;
}


.contenedor_input{
  text-aling:center;

}

.titulo_form_clientes{
background:#B033FF;
  color:#fff;
  padding: 8px;
  text-aling:center;
  font-weight:100px;
   font-zice:30px;
  border-top-left-raduis: 7px;
  border.top-right-radius:7px:
  border-bottom:10px solid crimson;





